.navbar_active{
background: rgba(0, 0, 0, 0.14);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.4px);
-webkit-backdrop-filter: blur(7.4px);
}

.navbar_active_text{
    color: #ff700b !important;
    font-weight: bold;
}